/* the code written in body applies to all things present in body */
body{
    background: linear-gradient(white,violet);
    margin:0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock
{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    backdrop-filter: blur(5px);
    width:100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}
